.content {
    display: flex;
    flex-flow: row;
    white-space: nowrap;
    width: 100%;
}

#player {
    float: left;
    flex: 0 1 auto;
}

#notifications {
    width: 100%;
    flex: 0 1 auto;
}
